!-------------------------------------------------------------------------------
! Xresources main file
!-------------------------------------------------------------------------------

! Xft settings
#include ".Xresources.d/xft"

! rofi settings
#include ".Xresources.d/rofi"
