!-------------------------------------------------------------------------------
! Xresources main file
!-------------------------------------------------------------------------------

! General variables
#include ".Xresources.d/base"

! General look and feel
#include ".Xresources.d/colors"
#include ".Xresources.d/term-colors"

! Xft settings
#include ".Xresources.d/xft"

! rofi settings
#include ".Xresources.d/rofi"
