"*":
  "exception-reporting":
    userId: "58cfe192-f12a-5a1a-1585-b5f0d30be2c7"
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    themes: [
      "nucleus-dark-ui"
      "seti-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
    fontSize: 12
  autosave:
    enabled: true
  term2: {}
  "one-dark-ui": {}
  "git-log": {}
  "python-jedi": {}
  "linter-pylint": {}
  "linter-pep8": {}
  linter:
    showErrorPanel: false
  "autocomplete-python":
    useSnippets: "all"
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
