"*":
  "exception-reporting":
    userId: "58cfe192-f12a-5a1a-1585-b5f0d30be2c7"
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
  autosave:
    enabled: true
  term2: {}
  "one-dark-ui": {}
  "git-log": {}
  "python-jedi": {}
  "linter-pylint": {}
  "linter-pep8": {}
#<<<<<<< HEAD
  linter:
    showErrorPanel: false
  "autocomplete-python":
    useSnippets: "all"
#=======
#  linter: {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
#>>>>>>> 9cf11113553bcd1756ae47339d4c4fd73e1f5886
