packages: [
  #
  # Basics
  #
  "package-sync",
  "autocomplete-plus",
  "term2",
  "linter",
  "file-icons"
  "script",
  "rst-preview",

  #
  # Git
  #
  "git-log",
  "git-history",
  "git-control",
  "merge-conflicts",
  "atom-jinja2",

  #
  # Python
  #
  "python-nosetests",
  "autocomplete-python",
  "linter-pylint",
]
