{#
 ##############################
 # Color Palette for i3
 # TEMPORARY: eventually, jinja variables will be
 # directly injected into i3 config files
 ##############################
 # vim: ft=jinja cms=#%s
 #}
set $base00 {{ color_normalize_hex(base00) }}
set $base01 {{ color_normalize_hex(base01) }}
set $base02 {{ color_normalize_hex(base02) }}
set $base03 {{ color_normalize_hex(base03) }}
set $base04 {{ color_normalize_hex(base04) }}
set $base05 {{ color_normalize_hex(base05) }}
set $base06 {{ color_normalize_hex(base06) }}
set $base07 {{ color_normalize_hex(base07) }}
set $base08 {{ color_normalize_hex(base08) }}
set $base09 {{ color_normalize_hex(base09) }}
set $base0A {{ color_normalize_hex(base0A) }}
set $base0B {{ color_normalize_hex(base0B) }}
set $base0C {{ color_normalize_hex(base0C) }}
set $base0D {{ color_normalize_hex(base0D) }}
set $base0E {{ color_normalize_hex(base0E) }}
set $base0F {{ color_normalize_hex(base0F) }}
