{#
 ##############################
 # Color Palette for i3
 # TEMPORARY: eventually, jinja variables will be
 # directly injected into i3 config files
 ##############################
 # vim: ft=jinja cms=#%s
 #}
set $base00 {{ color_base00|norm_hex }}
set $base01 {{ color_base01|norm_hex }}
set $base02 {{ color_base02|norm_hex }}
set $base03 {{ color_base03|norm_hex }}
set $base04 {{ color_base04|norm_hex }}
set $base05 {{ color_base05|norm_hex }}
set $base06 {{ color_base06|norm_hex }}
set $base07 {{ color_base07|norm_hex }}
set $base08 {{ color_base08|norm_hex }}
set $base09 {{ color_base09|norm_hex }}
set $base0A {{ color_base0A|norm_hex }}
set $base0B {{ color_base0B|norm_hex }}
set $base0C {{ color_base0C|norm_hex }}
set $base0D {{ color_base0D|norm_hex }}
set $base0E {{ color_base0E|norm_hex }}
set $base0F {{ color_base0F|norm_hex }}
