{#
 ############################
 # Floating modifier settings
 ############################
 # vim ft=jinja
 #}

# Use Mouse+$mod to drag floating windows
# to their wanted position
floating_modifier $mod
