{#
 ############################
 # colorscheme for i3pystatus
 ############################
 # vim: ft=jinja
 #}

base00 = '{{ color_normalize_hex(base00) }}'
base01 = '{{ color_normalize_hex(base01) }}'
base02 = '{{ color_normalize_hex(base02) }}'
base03 = '{{ color_normalize_hex(base03) }}'
base04 = '{{ color_normalize_hex(base04) }}'
base05 = '{{ color_normalize_hex(base05) }}'
base06 = '{{ color_normalize_hex(base06) }}'
base07 = '{{ color_normalize_hex(base07) }}'
base08 = '{{ color_normalize_hex(base08) }}'
base09 = '{{ color_normalize_hex(base09) }}'
base0A = '{{ color_normalize_hex(base0A) }}'
base0B = '{{ color_normalize_hex(base0B) }}'
base0C = '{{ color_normalize_hex(base0C) }}'
base0D = '{{ color_normalize_hex(base0D) }}'
base0E = '{{ color_normalize_hex(base0E) }}'
base0F = '{{ color_normalize_hex(base0F) }}'
