{#
 ############################
 # colorscheme for i3pystatus
 ############################
 # vim: ft=jinja
 #}

base00 = '{{ color_base00|norm_hex }}'
base01 = '{{ color_base01|norm_hex }}'
base02 = '{{ color_base02|norm_hex }}'
base03 = '{{ color_base03|norm_hex }}'
base04 = '{{ color_base04|norm_hex }}'
base05 = '{{ color_base05|norm_hex }}'
base06 = '{{ color_base06|norm_hex }}'
base07 = '{{ color_base07|norm_hex }}'
base08 = '{{ color_base08|norm_hex }}'
base09 = '{{ color_base09|norm_hex }}'
base0A = '{{ color_base0A|norm_hex }}'
base0B = '{{ color_base0B|norm_hex }}'
base0C = '{{ color_base0C|norm_hex }}'
base0D = '{{ color_base0D|norm_hex }}'
base0E = '{{ color_base0E|norm_hex }}'
base0F = '{{ color_base0F|norm_hex }}'
