{#
 #################
 # i3 key mappings
 #################
 # vim: ft=jinja
 #}

# start a terminal
bindsym $mod+Return exec $term

# kill focused window
bindsym $mod+c kill

# start rofi (a program launcher)
bindsym $mod+d exec --no-startup-id i3-dmenu-desktop --dmenu='rofi -dmenu'
bindsym $mod+Tab exec --no-startup-id rofi -show window

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# move focused window
bindsym $mod+$alt+h move left
bindsym $mod+$alt+j move down
bindsym $mod+$alt+k move up
bindsym $mod+$alt+l move right

# split in horizontal orientation
bindsym $mod+b split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen

# switch to terminal, just like that
bindsym $mod+t [class=$term_class] focus

# Open www workspace on demand
bindsym $mod+o workspace $ws_www

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
bindsym $mod+q focus child

# open file manager
bindsym $mod+g exec --no-startup-id $fm ~

# switch to workspace
bindsym $mod+1 workspace $ws_term
bindsym $mod+2 workspace $ws_www
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws_msgr
bindsym $mod+0 workspace $ws_music

# move focused container to workspace
bindsym $mod+$alt+1 move container to workspace $ws_term
bindsym $mod+$alt+2 move container to workspace $ws_www
bindsym $mod+$alt+3 move container to workspace $ws3
bindsym $mod+$alt+4 move container to workspace $ws4
bindsym $mod+$alt+5 move container to workspace $ws5
bindsym $mod+$alt+6 move container to workspace $ws6
bindsym $mod+$alt+7 move container to workspace $ws7
bindsym $mod+$alt+8 move container to workspace $ws8
bindsym $mod+$alt+9 move container to workspace $ws_msgr
bindsym $mod+$alt+0 move container to workspace $ws_music

# reload the configuration file
bindsym $mod+Shift+c reload

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r exec "dot update i3"

# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode
        bindsym h resize shrink width  48 px
        bindsym k resize grow height   48 px
        bindsym j resize shrink height 48 px
        bindsym l resize grow width    48 px

        # back to normal: Enter
        bindsym Return mode "default"
}

# resize mode
bindsym $mod+r mode "resize"

# lock the screen
bindsym $mod+p exec $autolock

bindsym Print exec scrot -q $scrot_quality $scrot_path && notify-send --urgency=normal $scrot_notify
bindsym $mod+Print exec scrot -u -q $scrot_quality $scrot_path && notify-send --urgency=normal $scrot_notify

# Multimedia keys
bindsym XF86AudioRaiseVolume $audio_vol_up
bindsym XF86AudioLowerVolume $audio_vol_dn
bindsym XF86AudioMute        $audio_mute

# Media player controls
bindsym XF86AudioPlay  $playerctl_play
bindsym XF86AudioPause $playerctl_pause
bindsym XF86AudioNext  $playerctl_next
bindsym XF86AudioPrev  $playerctl_prev

# Screen brightness controls
bindsym XF86MonBrightnessUp   exec xbacklight -inc 2; exec panoti brightness
bindsym XF86MonBrightnessDown exec xbacklight -dec 2; exec panoti brightness

# Jump to urgent window
bindsym $mod+u [urgent=latest] focus
