{#
 ##############################
 # Windows setup
 ##############################
 # vim: ft=jinja cms=#%s
 #}

#########################
# Window colors
#########################

client.focused          $base03 $base03 $base00 $base01
client.focused_inactive $base02 $base02 $base03 $base01
client.unfocused        $base01 $base01 $base03 $base01
client.urgent           $base02 $base08 $base07 $base08

###################
# Window properties
###################

# Border style for new windows
new_window pixel 0
new_float  pixel 2

# Mouse does not dictate focus!
focus_follows_mouse no

# force application to its corresponding workspaces
assign [class=$mplayer_class] $ws_music
assign [class=$browser_class] $ws_www
assign [class=$term_class]    $ws_term

# Correct handling of dialog windows
for_window [window_role="pop-up"]      floating enable
for_window [window_role="task_dialog"] floating enable

# These must be in floating mode
for_window [class="Gpicview"]          floating enable

# move to term workspace at startup
exec_always --no-startup-id i3-msg "workspace $ws_term"
