# i3lock when closing laptop lid
# Source: https://bbs.archlinux.org/viewtopic.php?pid=1305450

[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=screenlock

[Install]
WantedBy=sleep.target
